
  <mat-grid-list cols="4" rowHeight="450px"   >


    <mat-grid-tile class="contain" *ngFor="let prod of filterProduct ;">

        <mat-drawer-container class="example-container" autosize >
          
            <mat-drawer #drawer class="example-sidenav" mode="side">
              <p>{{prod.payload.doc.data().nom}}</p>
              <p *ngIf="prod.showFiller">{{prod.payload.doc.data().desc}}</p>
              <button type="button "id="txt"  (click)="prod.showFiller = !prod.showFiller" mat-raised-button >
                Description
              </button>
            </mat-drawer>
            
            <div class="example-sidenav-content" >
              <h1>{{prod.payload.doc.data().nom}}</h1>
              <img src="{{prod.payload.doc.data().img}}"  (click)=" drawer.toggle() ">
              <p>{{prod.payload.doc.data().prix}}</p>
            </div>
           
          
          </mat-drawer-container>
          
    </mat-grid-tile>
    
  </mat-grid-list>